<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="bootstrap.css">
	<link rel="stylesheet" type="text/css" href="stylesheet.css">
	<meta name="viewport" content="width = device-width, initial-scale=1" />
	<script type="text/javascript" src="jquery.js"></script>
	<script type="text/javascript" src="bootstrap.js"></script>
</head>

<body>


<div class="gap3">

	<!-- <div class = "rcorners container-fluid"> -->
		<div class = "row clearfix" align = "justify" style="padding:0">
			<div class = "col-md-1 col-sm-1 col-lg-1">&nbsp</div>

			
			<div class = "col-md-10 col-sm-10 col-lg-10 rcorners gap2 mini tab" style="padding:3vh">
				
				<h4>International Business</h4>
				<p>I am looking for a position that would let me explore my interests in International Business. International Marketing and Management classes at the University of Michigan have taught me the basics of what is needed for businesses to succeed in the modern age, but I understand that there is a lot for me to learn. As glocalization becomes more prevalent, experience in international business will help me down the line.</p>
				
				<h4>Data Analytics</h4>
				<p>Two semesters of JMP and R have shown me the power and importance of data analytics in business decisions. Data Analytics is a fun combination of business and programming that allows corporations to make choices based on evidence, not just experience.</p>

				<h4>Programming</h4>
				<p>Through my time at the University of Michigan, I completed a computer science minor. With my upper level elective I decided to take Web Systems. This class taught modern applications of web technologies like Javascript, DNS, CDN, and Hadoop. Other than this, other required classes for the minor taught the importance of runtimes and memory usage in programming. I apply the algorithmic thinking taught in these classes to how I solve problems in everyday life.</p>

				<h4>Amateur Photography</h4>
				<p>After borrowing a Nikon D100 from my father, I became interested in using amateur photography as a way to relieve stress. I purchased a Nikon D3300 and have been learning the ins and outs of amateur photography. Some pictures I have taken are available on <a target = "_blank" href="https://www.flickr.com/photos/kihatan/">Flickr</a>, and the background pictures for this site are my own work.</p>

				<h4>Board Games</h4>
				<p>While many find board games simple fun, I find them a way to build critical thinking and strategy skills. For example, games like King of Tokyo teach how to assess risk through a simple dice mechanic. Others, such as Sushi Go!, build decision making skills through simple probability problems.</p>

			</div>
			
		
		</div>
	<!-- </div> -->
</div>
</body>

</html>
