<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="bootstrap.css">
  <link rel="stylesheet" type="text/css" href="stylesheet.css">
  <meta name="viewport" content="width = device-width, initial-scale=1" />
  <script type="text/javascript" src="jquery.js"></script>
  <script type="text/javascript" src="bootstrap.js"></script>

</head>

<body>
	
	<div class="gap3">
		<div class = "row clearfix">
			
			<div class = "col-md-2 col-xs-2">&nbsp</div>
			<div class="col-md-7 col-xs-7 rcorners">

				<h4><b>University of Michigan - IT Student Coordinator/Consultant</b></h4>
				<h5>Manager: William Bingham - (734) 408-1289 - <a href="mailto:wbingham@umich.edu">wbingham@umich.edu</a></h5>
				<h5>Manager: Cheryl Sobkow - (734) 647-6371 - <a href="mailto:csobko@umich.edu">csobko@umich.edu</a></h5>

				<div style="padding:2.5vh"></div>

				<h4><b>Tia Stephanie Tours - Marketing Intern</b></h4>
				<h5>Manager: Stephanie Schneiderman - (734) 769-7839 - <a href="mailto:info@tiastephanietours.com">info@tiastephanietours.com</a></h5>
				
				<div style="padding:2.5vh"></div>

				<h4><b>University of Michigan - Research Assistant</b></h4>
				<h5>Manager: James Ostler - (734) 763-0305 - <a href="mailto:jostler@umich.edu">jostler@umich.edu</a></h5>

				<div style="padding:2.5vh"></div>
				
				<h4><b>PATTCAST LLC - Marketing Intern</b></h4>
				<h5>Manager: Kimberly Dunbar - (734) 478-3820 - <a href="mailto:kim@pattcast.com">kim@pattcast.com</a></h5>

			</div>
			<div class = "col-md-3 col-xs-3"></div>
		
	</div>
	</div>
	</div>
</body>
</html>
