<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="bootstrap.css">
  <link rel="stylesheet" type="text/css" href="stylesheet.css">
  <meta name="viewport" content="width = device-width, initial-scale=1" />
  <script type="text/javascript" src="jquery.js"></script>
  <script type="text/javascript" src="bootstrap.js"></script>

</head>

<body>
	
	<div class="gap3">
		<div class = "row clearfix" align = "justify">
			
			<div class = "col-md-1 col-xs-1">&nbsp</div>
			<div class="col-md-10 col-xs-10 rcorners">
				<div class = "col-md-6 col-xs-6 tab" align="left">

					<h4><b>University of Michigan - IT Consultant</b></h4>
					<h5>Manager: Nikki Jackson - (734) 764-3190</h5>
					<h5 style="padding-bottom:3vh">Supervisor: Jessie Miller - (734) 764-2295</h5>
					
					<div style="padding:2vh"></div>

					<h4><b>University of Michigan - Research Assistant</b></h4>
					<h5>(734) 763-0305 </h5>
					<h5>Supervisor: James Ostler</h5>
					
					
				</div>
				<div class = "col-md-1 col-xs-1">
					&nbsp
				</div>
				<div class = "col-md-5 col-xs-5 tab" align="left">

					<h4><b>PATTCAST LLC - Marketing Intern</b></h4>
					<h5>(734) 478-3820</h5>
					<h5 style="padding-bottom:3vh">Supervisor: Kimberly Dunbar</h5>

					<div style="padding:2vh"></div>


					<h4><b>Au Bon Pain</b></h4>
					<h5>(734) 763-5750</h5>
					<h5>General Manager: Tony Campbell</h5>
					<h5>Head of Kitchen: Jeff Bogos</h5>
					<h5>Manager: Aimee Beaudry</h5>
					

				</div>
			</div>
			<div class = "col-md-1 col-xs-1"></div>
		
	</div>
	</div>
	</div>
</body>
</html>
