<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="bootstrap.css">
	<link rel="stylesheet" type="text/css" href="stylesheet.css">
	<meta name="viewport" content="width = device-width, initial-scale=1" />
	
	<script type="text/javascript" src="jquery.js"></script>
	<script type="text/javascript" src="bootstrap.js"></script>

</head>

<body>
	<div class="gap4">
		<div class="rcorners">
			<div class = "row" align="left" style="padding:0;margin:0">

				<div class = "col-md-6 col-sm-6 col-lg-6 col-xl-6 mini" style="padding-bottom:0">


					<h4>Education</h4>
					<div class="row">
						<div class = "col-md-7 col-sm-7 col-lg-7">
							<h5 class="indent"><b>University of Michigan - Ann Arbor</b></h5>
						</div>
						<div class="col-md-4 col-sm-4 col-lg-4" align="right">
							<h6><b>May 2017</b></h6>
						</div>
					</div>
					<p class="indent2" style="margin:0;font-size:.8vw"><b>Stephen M. Ross School of Business</b></p>
					<p style="margin:0;font-size:.8vw;padding-left:6vw">BBA with focus in International Marketing/Management and Data Analytics</p>
					<p class="indent2" style="margin:0;font-size:.8vw"><b>College of Literature, Science, and the Arts</b></p>
					<p style="margin:0;font-size:.8vw;padding-left:6vw">Computer Science Minor with focus in Website Development</p>

					<br>


					<h4>Relevant Coursework</h4>

					<div class="indent">
						<h5 style="margin:0; margin-bottom: 0vw"><b>BA 389</b>       - Senior Seminar (<a href="Docs/SeniorThesis.pdf" download="Localization versus Standardization of Websites">Senior Thesis</a>)</h5>
						<li class="indent3">Researched the localization/standardization of websites for multinational corporations</li>
						<br>
						
						<h5 style="margin:0; margin-bottom: 0vw"><b>MKT 315</b>      - International Marketing</h5>
						<li class="indent3">Covered the basics of international marketing with a focus on developing nations</li>
						<br>
						
						<h5 style="margin:0; margin-bottom: 0vw"><b>STRATEGY 361</b> - International Management</h5>
						<li class="indent3">Developed an understanding of international strategy</li>
						<br>
						
						<h5 style="margin:0; margin-bottom: 0vw"><b>TO 414</b>       - Advanced Analytics</h5>
						<li class="indent3">Learned how to create and analyze models using R</li>
						<br>

						<h5 style="margin:0; margin-bottom: 0vw"><b>MKT 418</b>      - Marketing Analytics</h5>
						<li class="indent3">Used JMP to analyze survey results and improved understanding of survey design</li>
						<br>
						
						<h5 style="margin:0; margin-bottom: 0vw"><b>EECS 485</b>     - Web Systems</h5>
						<li class="indent3">Learned Flask, Hadoop, Threading, and other common web technologies</li>
					</div>
					<br>



					<h4>Activities</h4>
					<div class="indent">
						<li style="margin-top:.2vw; margin-bottom:.2vw"><b>Active Member</b> - Board and Card Games Club</li>
						<li style="margin-top:.2vw; margin-bottom:.2vw">Preparation Initiative - Helps students succeed in Business College</li>
						<li style="margin-top:.2vw; margin-bottom:.2vw">Animania: University of Michigan Anime Club</li>
						<li style="margin-top:.2vw; margin-bottom:.2vw">Michigan Hackers - Photographer</li>
						<li style="margin-top:.2vw; margin-bottom:.2vw">Practiced Tae-Kwan-Do for 14 years - Second Degree Black Belt</li>
					</div>

				</div>


				<div class = "col-md-6 col-sm-6 col-lg-6 col-xl-6 mini">

					<h4>Experience</h4>

					<div class="row">
						<div class = "col-md-9 col-sm-9 col-lg-9">
							<h5 class="indent" style="margin:0"><b>University of Michigan - IT Student Coordinator</b></h5>
						</div>
						<div class="col-md-3 col-sm-3 col-lg-3" align="right">
							<h6 style="margin:0"><b>Jan 2017 - Current</b></h6>
						</div>
					</div>
					<div class="indent3">
						<li>Managed issues for full-time temp employees across the University</li>
						<li>Implemented process improvements to increase the efficacy of student staff</li>
						<li>Built soft skills useful for leadership and communication with coworkers</li>
						<li><i>Promoted from IT Consultant position below</i></li>
					</div>
					
					<br>

					<div class="row">
						<div class = "col-md-8 col-sm-8 col-lg-8">
							<h5 class="indent" style="margin:0"><b><a href="http://www.tiastephanietours.com">Tia Stephanie Tours</a> - Marketing Intern</b></h5>
						</div>
						<div class="col-md-4 col-sm-4 col-lg-4" align="right">
							<h6 style="margin:0"><b>Summer 2016 - Current</b></h6>
						</div>
					</div>
					<div class="indent3" style="margin:0">
						<li>Used Search Engine Optimization best practices to increase searchability of website</li>
						<li>Redesigned website to lower clicks to Point of Sale</li>
						<li>Introduced and managed Insightly to build a database of leads</li>
					</div>
					
					<br>

					<div class="row">
						<div class = "col-md-7 col-sm-7 col-lg-7">
							<h5 class="indent" style="margin:0"><b>University of Michigan - IT Consultant</b></h5>
						</div>
						<div class="col-md-5 col-sm-5 col-lg-5" align="right">
							<h6 style="margin:0"><b>Summer 2015 - Jan 2017</b></h6>
						</div>
					</div>
					<div  class="indent3">
						<li>Used critical thinking skills to solve software and hardware problems for users</li>
						<li>Collaborated with fellow employees to make university-wide IT changes</li>
						<li>Learned the how IT systems work across 3 different University-levels</li>
					</div>
					
					<br>

					<div class="row">
						<div class = "col-md-8 col-sm-8 col-lg-8">
							<h5 class="indent" style="margin:0"><b>University of Michigan - Research Assistant</b></h5>
						</div>
						<div class="col-md-4 col-sm-4 col-lg-4" align="right">
							<h6 style="margin:0"><b>Summer 2015 - Fall 2016</b></h6>
						</div>
					</div>
					<div class="indent3" style="margin:0">
						<li>Analyzed large files to pull important information and categorize</li>
						<li>Learned to use OCR Software and Python to create databases</li>
					</div>
					
					<br>

					<div class="row">
						<div class = "col-md-7 col-sm-7 col-lg-7">
							<h5 class="indent" style="margin:0"><b><a href="http://www.pattcast.com/" target="_blank">PATTCAST</a> - Marketing Intern</b></h5>
						</div>
						<div class="col-md-5 col-sm-5 col-lg-5" align="right">
							<h6 style="margin:0"><b>Summer 2015</b></h6>
						</div>
					</div>
					<div class="indent3">
					<li>Helped find a method to and port the iOS application to Android</li>
					<li>Used Google Analytics to improve web and mobile applications for future releases</li>
					</div>
					<br>

				
					<h4>Skills</h4>
					<div class="indent">
						<li style="margin-top:.2vw; margin-bottom:.2vw">Above average proficiency in both Windows and Macintosh environments</li>
						<li style="margin-top:.2vw; margin-bottom:.2vw">Basic knowlede of photo editing using GIMP software</li>
						<li style="margin-top:.2vw; margin-bottom:.2vw">Proficient in <a href="Docs/Spanish Sample.pdf" download="Kihata Noah Sample Spanish Writing Piece.pdf">Spanish</a>, with elementary knowledge of Japanese</li>
						<li style="margin-top:.2vw; margin-bottom:.2vw">Proficient in C++, HTML, and CSS</li>
						<li style="margin-top:.2vw; margin-bottom:.2vw">Basic knowledge of R, RStudio, and JMP</li>
						<li style="margin-top:.2vw; margin-bottom:.2vw">Some knowledge of Python, PSQL, Flask, Phonegap, Wordpress, and Java</li>
						<li style="margin-top:.2vw; margin-bottom:.2vw">Abby FineReader and Omnipage experience</li>
					</div>

				</div>	
			</div>	
	
			<br>
			<div align="center" style="margin-bottom:2vh;padding:0;margin:0">
				<h5>Download a PDF copy <a href="Docs/Kihata Noah Resume.pdf" download="Kihata Noah Resume.pdf">here</a>.</h5>

			</div>
			
		</div>
	</div>
</body>

</html>
