<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="bootstrap.css">
	<link rel="stylesheet" type="text/css" href="stylesheet.css">
	<meta name="viewport" content="width = device-width, initial-scale=1" />
	
	<script type="text/javascript" src="jquery.js"></script>
	<script type="text/javascript" src="bootstrap.js"></script>

</head>

<body>
	<div class="gap4">
	<div class="rcorners">
		
		<div class = "row" align="left" style="padding:0;margin:0">

			<div class = "col-md-6 col-sm-6 col-lg-6 mini" style="padding-bottom:0">


				<h4>Education</h4>
				<div class="row">
					<div class = "col-md-7 col-sm-7 col-lg-7">
						<h5 class="indent"><b>University of Michigan - Ann Arbor</b></h5>
					</div>
					<div class="col-md-5 col-sm-5 col-lg-5" align="right">
						<h6><b>Spring 2017 Graduation</b></h6>
					</div>
				</div>
				<p class="indent2" style="margin:0;font-size:.8vw"><b>Stephen M. Ross School of Business</b></p>
				<p style="margin:0;font-size:.8vw;padding-left:5vw">Focus in Marketing and Management</p>
				<p class="indent2" style="font-size:.8vw"><b>Minor in Computer Science through College of Literature, Science, and the Arts</b></p>

				<div class="gap"></div>

				<h4>Experience</h4>

				<div class="row">
					<div class = "col-md-8 col-sm-8 col-lg-8">
						<h5 class="indent" style="margin-bottom:0"><b>University of Michigan - Research Assistant</b></h5>
					</div>
					<div class="col-md-4 col-sm-4 col-lg-4" align="right">
						<h6 style="margin-bottom:0"><b>Summer 2015 - Current</b></h6>
					</div>
				</div>
				<div class="indent3">
					<li>Built analytical skills by searching for specific data and filtering out unnecessary data points</li>
					<li>Developed Time Management skills through flexible hours and no required location</li>
				</div>
				<br>

				<div class="row">
					<div class = "col-md-7 col-sm-7 col-lg-7">
						<h5 class="indent" style="margin:0"><b>University of Michigan - IT Consultant</b></h5>
					</div>
					<div class="col-md-5 col-sm-5 col-lg-5" align="right">
						<h6 style="margin:0"><b>Summer 2015 - Current</b></h6>
					</div>
				</div>
				<div  class="indent3">
				<li>Built teamwork skills through collaboration to solve difficult problems</li>
				<li>Used critical thinking skills to solve software and hardware problems for users</li>
				</div>
				<br>

				<div class="row">
					<div class = "col-md-7 col-sm-7 col-lg-7">
						<h5 class="indent" style="margin:0"><b><a href="http://www.http://pattcast.com/" target="_blank">PATTCAST</a> - Marketing Internship</b></h5>
					</div>
					<div class="col-md-5 col-sm-5 col-lg-5" align="right">
						<h6 style="margin:0"><b>Summer 2015</b></h6>
					</div>
				</div>
				<div class="indent3">
				<li>Worked independent of senior staff to build specialty skill sets</li>
				<li>Used Google Analytics to help company improve web and mobile applications for future releases</li>
				</div>
				<br>

			</div>


			<div class = "col-md-6 col-sm-6 col-lg-6 mini">


				<h4>Activities</h4>
				<div class="indent">
					<li><b>Active Member</b> - Preparation Initiative - Helps students succeed in Business College</li>
					<li><b>Active Member</b> - Animania: University of Michigan Anime Club</li>
					<li><b>Active Member</b> - Michigan Hackers - Photographer</li>
					<li><b>Active Member</b> - Board and Card Games Club</li>
					<li>Practiced Tae-Kwan-Do for 14 years - Second Degree Black Belt</li>
				</div>

				<br></br>

				<h4>Skills</h4>
				<div class="indent">
					<li>Above average proficiency in both Windows and Macintosh environments</li>
					<li>Basic knowlede of photo editing using GIMP software</li>
					<li>Proficient in Microsoft Word, Powerpoint, and Excel</li>
					<li>Proficient in <a href="Docs/Spanish Sample.pdf" download="Kihata Noah Sample Spanish Writing Piece.pdf">Spanish</a>, with elementary knowledge of Japanese</li>
					<li>Proficient in C++, html, and CSS</li>
					<li>Some knowledge of Python, PSQL, Flask, Phonegap, and Java</li>
				</div>

			</div>

			
	</div>


	<div align="center" style="margin-bottom:3vh;padding:0;margin:0">
		<h5>Download a PDF copy <a href="Docs/Kihata Noah Resume.pdf" download="Kihata Noah Resume.pdf">here</a>.</h5>
	
	</div>
	</div>

</body>

</html>
