<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="bootstrap.css">
	<link rel="stylesheet" type="text/css" href="stylesheet.css">
	<meta name="viewport" content="width = device-width, initial-scale=1" />
	<script type="text/javascript" src="jquery.js"></script>
	<script type="text/javascript" src="bootstrap.js"></script>
</head>

<body>
<div class="gap3">

	<div class="row clearfix">
		<div class = "col-md-1 col-sm-1 col-lg-1">&nbsp</div>
		<div class="col-md-10 col-sm-10 col-lg-10 rcorners gap2 mini">
		<div class = "col-md-6 col-sm-6 col-lg-6 tab" align ="justify">

			<h4>C++</h4>
			<p>C++ is the primary language used by the Computer Science department at the University of Michigan. I am currently in EECS 281, learning about priority queues.</p>



			<h4>Java</h4>
			<p>I took an independent study focusing on java with relation to android programming.  I made a simple calculator. I am working on a new Android program that will take data from an RSS feed to send users a notification when anime is released.</p>



			<h4>HTML/CSS</h4>
			<p>I am new to HTML and CSS, but am picking it up quickly.  This website was my first big project with HTML, CSS, and Javascript. For EECS 183, my team and I developed a <a href="http://www.cjnschedulizer.heroku.com" target="_blank">schedulizer</a> for the anime club's annual convention that uses Python</p>


			<h4>Python</h4>
			<p>I have learned a little bit of Python and apply this skill to websites I develop in my free time in combination with Flask.</p>


		</div>

		<div class = "col-md-6 col-sm-6 col-lg-6 gap2 mini tab" align="justify">

			<h4>Photo Editing</h4>
			<p>I dabble in photo editing, mostly related to making my own desktop wallpapers.</p>



			<h4>Microsoft Office</h4>
			<p>I am more than proficient in Microsoft Word, Powerpoint, and Excel.  For my high school science projects I had to learn many facets of Microsoft Excel.  A copy of a workbook I made is available <a href="Docs/Excel Example.xlsx" download="Kihata, Noah Excel Example.xlsx">here</a>.  </p>



			<h4>Spanish</h4>
			<p>Tom&eacute seis a&ntildeos de espa&ntildeol en escuela secundaria y preparatoria. Tom&eacute dos clases a una universidad local para aprender m&aacutes antes de la clase AP.  Me considero proficiente.  Puedo hablar mejor que escribir y pienso en espa&ntildeol para practicar mi vocabulario y gram&aacutetica.  Mi espa&ntildeol es mejor que los requisitos de un estudiante de tres a&ntildeos en La Universidad De Michigan, as&iacute que no necesito tomar clases para graduar.  Un ejemplo de un papel en espanol es disponible <a href="Docs/Spanish Sample.pdf" download="Kihata Noah Spanish Example.pdf">auq&iacute</a>.</p>

		</div>
		</div>
		
	</div>

</body>

</html>



































