<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="bootstrap.css">
	<link rel="stylesheet" type="text/css" href="stylesheet.css">
	<meta name="viewport" content="width = device-width, initial-scale=1" />
	<script type="text/javascript" src="jquery.js"></script>
	<script type="text/javascript" src="bootstrap.js"></script>
</head>

<body>
<div class="gap4">
	<div class="rcorners">
		<div class="row clearfix">
		
			<div class = "col-md-6 col-sm-6 col-lg-6 tab" align ="justify">

				<h4>C++</h4>
				<p>C++ is the primary language used by the Computer Science department at the University of Michigan. Through the base classes I have become familiar with C++ and some of its features.</p>

				<h4>Python</h4>
				<p>I have learned the basics of Python and how it can be used in combination with web technologies such as sockets, ports, and Flask. In addition, I have used basic libraries to attempt Optical Character Recognition and general file manipulation.</p>

				<h4>HTML/CSS</h4>
				<p>I am new to HTML and CSS, but am picking it up quickly.  This website was my first big project with HTML, CSS, and Javascript. For EECS 183, my team and I developed a scheduling application for the anime club's annual convention that uses Python</p>

				<h4>Java</h4>
				<p>I took an independent study focusing on java with relation to android programming. With no prior experience, I created a simple calculator application.</p>

			</div>

			<div class = "col-md-6 col-sm-6 col-lg-6 tab" align="justify">

				<h4>R</h4>
				<p>I took a data analytics class that was centered around using R for data analytics. We covered the how and why of the basics of R and Machine Learning models such as Logistic Regressions, Neural Networks, Support Vector Machines, Random Forests, and stacked models. This included experience in RMarkdown and Shiny Web Apps.</p>

				<h4>JMP</h4>
				<p>MKT 418 (Marketing Analytics) was a class focused on improving student's survey design and using JMP to analyze the results of surveys. From this a final project was done that used different tests in JMP to make suggestions to focal companies.</p>

				<h4>Photo Editing</h4>
				<p>I dabble in photo editing, mostly related to projects requiring slight editing that can be done in GIMP. </p>

				<h4>Spanish</h4>
				<p>Tom&eacute seis a&ntildeos de espa&ntildeol en escuela secundaria y preparatoria. Tom&eacute dos clases a una universidad local para aprender m&aacutes antes de la clase AP.  Me considero proficiente.  Puedo hablar mejor que escribir y pienso en espa&ntildeol para practicar mi vocabulario y gram&aacutetica.  Mi espa&ntildeol es mejor que los requisitos de un estudiante de tres a&ntildeos en La Universidad De Michigan, as&iacute que no necesito tomar clases para graduar.  Un ejemplo de un papel en espanol es disponible <a href="Docs/Spanish Sample.pdf" download="Kihata Noah Spanish Example.pdf">auq&iacute</a>.</p>

			</div>
		</div>
	</div>
</div>
</body>

</html>



































