<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="bootstrap.css">
  <link rel="stylesheet" type="text/css" href="stylesheet.css">
  <meta name="viewport" content="width = device-width, initial-scale=1" />
  <script type="text/javascript" src="jquery.js"></script>
  <script type="text/javascript" src="bootstrap.js"></script>
</head>

<body>
  <div class="gap3">
  <!-- <div class="rcorners container-fluid"> -->
   
    <div class = "row clearfix"  >
      
      <div class="col-md-2 col-sm-2">&nbsp</div>
      
      <div class = "col-md-8 col-sm-8 rcorners" align="center" style="padding-top:5vh;padding-bottom:5vh">
        <table border = "0" width = "100%" class="thumbnails">
          <tr>
            <td align="center"><a href = "https://www.linkedin.com/profile/view?id=132277628&trk=nav_responsive_tab_profile" target="_blank" style = "color:black; font-size:20px"><img style = "width: 8vw;height:8vw" src= "Images/linkedin.png"/></a></td>
            <td align="center"><a href ="https://github.com/kihatan" target="_blank" style = "color:black; font-size:20px"><img style = "width: 8vw;height:8vw" src= "Images/blacktocat.png"/></a></td>
            <td align="center"><a href="http://stackoverflow.com/users/4112079/noah-kihata" target="_blank" style = "color:black; font-size:20px"><img style = "width: 8vw;height:8vw" src= "Images/stock.png"/></a></td>
            
          <tr>
            <td style="padding: 1vw" align="center"><h4>Linkedin</h4></td>
            <td style="padding: 1vw" align="center"><h4>GitHub</h4></td>
            <td style="padding: 1vw" align="center"><h4>StackOverflow</h4></td>
            
            
          </tr>
          
          <tr>
            
            
            <td align="center"><a href ="https://hummingbird.me/users/kihatan" target="_blank" style = "color:black; font-size:20px"><img style = "width:8vw;height:8vw;margin-top:2vh" src= "Images/humbird.png"/></a></td>
            <td align="center"><a href ="https://rateyourmusic.com/~kihatan" target="_blank" style = "color:black; font-size:20px"><img style = "width:8vw;height:8vw;margin-top:2vh" src= "Images/RateYourMusic.png"/></a></td>
            <td align="center"><a href ="https://www.flickr.com/photos/kihatan/" target="_blank" style = "color:black; font-size:20px"><img style = "width:8vw;height:8vw;margin-top:2vh" src= "Images/flickr.png"/></a></td>
          </tr>
          <tr>
           
            <td style="padding: 1vw" align="center"><h4>HummingBird</h4></td>
            <td style="padding: 1vw" align="center"><h4>RateYourMusic</h4></td>
            <td style="padding: 1vw" align="center"><h4>Flickr</h4></td>
          </tr>

        </table>
      </div>
      
      
    </div>
  
  <!-- </div> -->

</div>


</body>

</html>    
