<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="bootstrap.css">
	<link rel="stylesheet" type="text/css" href="stylesheet.css">
	<meta name="viewport" content="width = device-width, initial-scale=1" />
	<script type="text/javascript" src="jquery.js"></script>
	<script type="text/javascript" src="bootstrap.js"></script>
</head>

<body>
<div style="padding-bottom:7vh">
	<div class = "row" style="padding-top:5vh;padding-bottom:5vh">
		<div class = "col-md-2">&nbsp</div>
		<div class = "nicerow col-md-8 col-xs-12 rcorners">
			<table border="3" style="width:100%" align="center"> 
		
				
					<tr>
						<td>Semester</td>
						<td>Class Number</td> 
						<td>Class Name</td>
						<td>Credits</td>
						<td>Grade</td>
					</tr>

					<tr>
						<td><b>FALL 2013</b></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>

					<tr>
						<td></td>
						<td>BA 101</td> 
						<td>Development Seminar</td>
						<td align = "center">1</td>
						<td align = "center">CR</td>
					</tr>

					<tr>
						<td></td>
						<td>EECS 101</td> 
						<td>Thriving Digital World</td>
						<td align = "center">4</td>
						<td align = "center">A</td>
					</tr>

					<tr>
						<td></td>
						<td>MATH 115</td> 
						<td>Calculus I</td>
						<td align = "center">4</td>
						<td align = "center">A-</td>
					</tr>

					<tr>
						<td></td>
						<td>PHIL 160</td> 
						<td>Moral Principles and Problems</td>
						<td align = "center">4</td>
						<td align = "center">B</td>
					</tr>

					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td>GPA</td>
						<td>3.566</td>
					</tr>

					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>

					<tr>
						<td><b>WINTER 2014</b></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>

					<tr>
						<td></td>
						<td>COMPLIT 122</td> 
						<td>Writing World Lits - Invisibility as the New Visible</td>
						<td align = "center">4</td>
						<td align = "center">A+</td>
					</tr>

					<tr>
						<td></td>
						<td>ECON 101</td> 
						<td>Principle Economics I</td>
						<td align = "center">4</td>
						<td align = "center">B+</td>
					</tr>

					<tr>
						<td></td>
						<td>EECS 399</td> 
						<td>Directed Study</td>
						<td align = "center">3</td>
						<td align = "center">A+</td>
					</tr>

					<tr>
						<td></td>
						<td>SM 101</td> 
						<td>Public & Small Group Communications</td>
						<td align = "center">3</td>
						<td align = "center">A-</td>
					</tr>

					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td>GPA</td>
						<td>3.735</td>
					</tr>

					<tr>
						<td></td>
						<td></td>
						<td>Final LS&A GPA, GPA resets upon admitance to Business College</td>
						<td>Cumulative GPA</td>
						<td>3.657</td>
					</tr>

					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>

					<tr>
						<td><b>SPRING/SUMMER 2014</b></td>
						<td></td>
						<td><b>Class Taken at Washtenaw Community College for Transfer Credit</b></td>
						<td></td>
						<td></td>
					</tr>

					<tr>
						<td></td>
						<td>ECO 101</td> 
						<td>Microeconomics</td>
						<td align = "center">3</td>
						<td align = "center">A</td>
					</tr>

					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>

					<tr>
						<td><b>FALL 2014</b></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>

					<tr>
						<td></td>
						<td>ACC 300</td> 
						<td>Financial Accounting</td>
						<td align = "center">3</td>
						<td align = "center">B+</td>
					</tr>

					<tr>
						<td></td>
						<td>BA 200</td> 
						<td>Businesses & Leaders: The Positive Difference</td>
						<td align = "center">3</td>
						<td align = "center">B</td>
					</tr>

					<tr>
						<td></td>
						<td>EECS 183</td> 
						<td>Elementary Programming Concepts</td>
						<td align = "center">4</td>
						<td align = "center">A+</td>
					</tr>

					<tr>
						<td></td>
						<td>TO 301</td> 
						<td>Business Analytics and Statistics</td>
						<td align = "center">4</td>
						<td align = "center">B+</td>
					</tr>

					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td>GPA</td>
						<td>3.600</td>
					</tr>

					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td>Cumulative GPA</td>
						<td>3.600</td>
					</tr>

					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>

					<tr>
						<td><b>WINTER 2015</b></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>

					<tr>
						<td></td>
						<td>ACC 301</td> 
						<td>Managerial Accounting</td>
						<td align = "center">3</td>
						<td align = "center">B</td>
					</tr>

					<tr>
						<td></td>
						<td>BCOM 250</td> 
						<td>Introduction to Business Communication</td>
						<td align = "center">1.5</td>
						<td align = "center">B</td>
					</tr>

					<tr>
						<td></td>
						<td>EECS 203</td> 
						<td>Discrete Math</td>
						<td align = "center">4</td>
						<td align = "center">B-</td>
					</tr>

					<tr>
						<td></td>
						<td>EECS 280</td> 
						<td>Programming and Introductory Data Structures</td>
						<td align = "center">4</td>
						<td align = "center">B+</td>
					</tr>

					<tr>
						<td></td>
						<td>MKT 300</td> 
						<td>Marketing Management</td>
						<td align = "center">3</td>
						<td align = "center">B</td>
					</tr>

					<tr>
						<td></td>
						<td>STRATEGY 290</td> 
						<td>Business Strategy</td>
						<td align = "center">1.5</td>
						<td align = "center">B</td>
					</tr>

					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td>GPA</td>
						<td>3.058</td>
					</tr>

					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td>Cumulative GPA</td>
						<td>3.303</td>
					</tr>

					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>

					<tr>
						<td><b>FALL 2015</b></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>

					<tr>
						<td></td>
						<td>BCOM 350</td> 
						<td>Professional Communication Strategies</td>
						<td align = "center">1.5</td>
						<td align = "center">B</td>
					</tr>

					<tr>
						<td></td>
						<td>BL 300</td> 
						<td>Business Law and Ethics</td>
						<td align = "center">3</td>
						<td align = "center">B</td>
					</tr>

					<tr>
						<td></td>
						<td>EECS 281</td> 
						<td>Data Structures and Algorithms</td>
						<td align = "center">4</td>
						<td align = "center">B</td>
					</tr>

					<tr>
						<td></td>
						<td>MO 300</td> 
						<td>Behavioral Theory in Management</td>
						<td align = "center">3</td>
						<td align = "center">B-</td>
					</tr>

					<tr>
						<td></td>
						<td>TO 313</td> 
						<td>Operations Management</td>
						<td align = "center">3</td>
						<td align = "center">B+</td>
					</tr>

					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td>GPA</td>
						<td>3.020</td>
					</tr>

					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td>Cumulative GPA</td>
						<td>3.213</td>
					</tr>

					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>

					<tr>
						<td><b>WINTER 2016</b></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>

					<tr>
						<td></td>
						<td>ASIAN 292</td> 
						<td>Introduction to Japanese Art and Culture </td>
						<td align = "center">4</td>
						<td align = "center"></td>
					</tr>

					<tr>
						<td></td>
						<td>BE 300</td> 
						<td>Applied Economics</td>
						<td align = "center">3</td>
						<td align = "center"></td>
					</tr>

					<tr>
						<td></td>
						<td>FIN 300</td> 
						<td>Financial Management</td>
						<td align = "center">3</td>
						<td align = "center"></td>
					</tr>

					<tr>
						<td></td>
						<td>MKT 315</td> 
						<td>International Marketing</td>
						<td align = "center">3</td>
						<td align = "center"></td>
					</tr>

					<tr>
						<td></td>
						<td>STRATEGY 361</td> 
						<td>International Management</td>
						<td align = "center">3</td>
						<td align = "center"></td>
					</tr>
						
		</div>
		<div class = "col-md-1"></div>
		

	</div>
	

	</div>
</body>

</html>
