html,
body {
   margin:0;
   padding:0;
   border: 0;
   height:100%;
   overflow-x: hidden;
   background-color: black;
   background-size: 100%;
   background-repeat: no-repeat;
}

#container {
   min-height:100%;
   position:relative;
}

#body {
  /* padding-bottom:20px*/ /* Height of the footer */
}
#footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:1.6vw; 
     /* Height of the footer */
     padding: 0 0 0 0;
     border: 0 0 0 0;
     margin: 0 0 0 0;
     background: black;
     align:center;

}

.foot > p{
  font-size: .8vw;
  margin-top: 5px;
  color: #E5E4E2;
  align: center;
}

.table_font > td{
	font-style: bold;
	font-size: 90px;
}

.mylist{
	padding-top: 30px;
}
.kim{

	padding-top: .15%;
}
#wrapper {
    width: 100%;
    padding-top: .4vh;
    margin: 0 auto;
}
.nav{

	vertical-align: center;
}
.nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
     zoom:1; /* hasLayout ie7 trigger */
}
.pull-center{

	float: center;
}
/*.Header{
	margin-top: 0px;
  	margin-bottom: 0px;
  	color: inherit;
  	background-color: rgb(3,2,56);

}

@media screen and (min-width: 768px) {
  .Header {
    padding-top: 0px;
    padding-bottom: 0px;
    padding:0px;
    margin-top: 0px;
    border:0px;
  }
  
  }
  .Header > h1{
  	padding-top: 5px;
  	padding-bottom: 5px;
  }
}
*/
.dropdown-menu.pull-center {
  right: 30%;
  left: 30%;
}

.dropdown-menu.pull-middle.pull-center {
  right: 50%;
  margin: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.rcorners {
    border-radius: 28px;
    background: white;
    border-width: 1px;
    border-style: solid;
    padding: 2vh;
}

.rcorners h1{
  font-size: 4vw;
}
.rcorners h2{
  font-size: 3vw;
}
.rcorners h3{
  font-size: 2vw;
}
.rcorners h4{
  font-size: 1.5vw;
}
.rcorners h5{
  font-size: 1vw;
}
.rcorners h6{
  font-size: .8vw;
}
.rcorners p{
  font-size: .9vw;
}
.rcorners li{
  font-size: .8vw;
}

.rcorners2{
  background: rgb(3,2,56);
  font-size: 3vw;
  color: #EAEBEB;
}

#bg {
  position: fixed; 
  top: 0; 
  left: 0; 
  
   Preserve aspet ratio 
  min-width: 80%;
  min-height: 20%;
}


div.slideOutTab {
    position: fixed;
    width: 20vw;
    height: 1vh;
    left: -17.3vw;
    
    margin:0;
    padding:0;
    border:0;
}

div.slideOutTab a {
    color: #EAEBEB;
    display: block;
    overflow: hidden;
    text-align: left;

    border:0;
    margin:0;
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-left: 4vw;

    text-decoration: none;
    font-size: 2vw;
}

div.slideOutTab p {
  transform: rotate(90deg);
  transform-origin: center;
  padding: 0;
  padding-left: 0vw;
  padding-top: 1vh;
  border: 0;
  margin: 0;
  font-size: 1.5vw;
  float: right;
  display: block;
}

.down{
  padding-top: 1vw;
}

div.o1{
  top: 15%;
}
/*div.o2{
  top: 30%;
}*/
div.o3{
  top: 25%;
}
div.o4{
  top: 35%;
}
div.o5{
  top: 45%;
}
div.o6{
  top: 55%;
}
div.o7{
  top: 70%;
}

.tab-pane{
  width: 98%;
}
.mini{
  padding:2vh;
}
.mini li{
  padding-left: 1vh;
}

.gap{
  padding-top: 1vh;
}


.gap2 p{
  padding-bottom: 1vh;
}
/*.gap2 h4{
  padding-top: 1vh;
}*/

.gap3{
  padding-top: 1vh;
}

.gap4{
  padding-top: 1vh;
}

td {
  font-size: .74vw;
}

.indent{
  padding-left: 1.5vw;
}

.indent2{
  padding-left: 4vw;
}

.indent3{
  padding-left: 2.7vw;
}

*{
  font-family: helvetica, serif;

}

.nicerow td{
  padding-left: .2vw;
}

.mob{ 
  padding:1vw;
  margin:0;
  padding-left:5vw;
}

.mobhead{
  padding-left:1vw
}

.mobtitle{
  margin:0px;
  padding-top:.5vh;
  padding-bottom:.5vh;
  position:fixed;
  z-index: 100;
  background: rgb(3,2,56); 
  width: 100%;
}

.row{
  position: relative;
  z-index: 0;
}

.col-sm-8, .col-xs-8{
  z-index: 0;
}

.tab > p {
  padding-left: 1.1vw;
}

.tab > h5 {
  padding-left: 1.1vw;
}
